<ion-card>
  <ion-img [src]="personaje.image" alt="{{ personaje.name }}"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ personaje.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Especie:</strong> {{ personaje.species }}</p>
    <p>
      <strong>Estado:</strong>
      <ion-chip [color]="personaje.status === 'Alive' ? 'success' : personaje.status === 'Dead' ? 'danger' : 'medium'">
        {{ personaje.status }}
      </ion-chip>
    </p>
  </ion-card-content>
</ion-card>
